<!DOCTYPE html>

<html>
	<body>
		<h1>Admin View</h1>
	 	<p>Administrators will see a table here detailing which students have participated in studies.</p></br>
		<p>Also will note which students have chosen to write papers.</p>
	</body>
</html>