<!DOCTYPE html>

<html>

	<body>
	 	<h1>Main Sign In</h1><br>
	 	<p>The user will sign in here.</p>
		
	  	<form name="input" method="get">
			Username: <input type="text" name="user"></br>
			Password: <input type="text" name="pass"></br>
			<input type="submit" value="Submit">
		</form>


	  	






	</body>

</html>