<!DOCTYPE html>
<html>
	<body>
		<h1>My Profile</h1>
	 	Name: <br>
	 	Password: <br>
	 	email: <br>
	 	Classes: <br>
	 	Status: Research Participant vs Research Paper
	 	Role: Student vs Researcher vs Admin
	</body>
</html>