.body
	%h1.title Add course
	%div#center
		- if @courseOptions.empty?
			%h1<small> "There are no courses available to add." </small>
		Click to Add a Course to your Account. 
		You can add multiple courses.
		- @courseOptions.each do |c|
			%div#wrapper= link_to c.to_s, users_joincourse_path(:course => c), :class => 'btn btn-success'
			%br
		%h1 <small> If a course you are in is not listed here, please let your professor know and they can add it to the database </small>