.body
	%h1.title Add course
	%div#center
		- if @courseOptions.empty?
			%h4 "There are no courses available to add."
		%h2 <small> Click to Add a Course to your Account. You can add multiple courses. </small>
		%h2 <small> If a course you are in is not listed here, please let your professor know and they can add it to the database. </small>
		%br
		%br				
		- @courseOptions.each do |c|
			= link_to c.to_s, users_joincourse_path(:course => c), :class => 'btn btn-success'
			%br
			%br