.body
  %h1.title My Created Studies
%div#center
%br
  %table.table.table-hover.table-bordered.table-nonfluid
    %tr
      %th Title
      %th Times and Locations
      %th Edit
    %tbody
      - @studies.each do |study|
        %tr
          = form_tag(users_created_studies_path, method: :get) do
            %td= study.title
            - study.studytimes.each do |studytime|
              %td
                %input{:checked => "", :name=> "selected_studytime", :type => "radio", :value => studytime.id}
                = studytime.to_s()
                %input{:type =>"submit", :value => "Take Attendance", :class => 'btn btn-info'}
            %td= link_to "Edit", edit_study_path(study), :class => 'btn btn-warning'
            /= button_to 'Delete', study_path(@study), :method => :delete, :confirm => 'Are you sure you want to delete this study? All data will be lost.', :class => 'btn btn-danger' 