-#  This file is app/views/users/index.html.haml

%div#body
  %h1 All Users

  %ul.maincontent#users
    - @users.each do |user|
      %li
        %div#top
          %div#left
            %p#title= user.first_name + " " + user.last_name 
            %p#role= "Role: " + user.role.capitalize
          %div#right
            = link_to "MORE INFO", user_path(user), { :class => "selection_link"}