<!DOCTYPE html>

<html>

	<body>
		<h1>My Studies</h1>
		<p>User will see list of studies they have signed up for.</p>
		
		<table style="width:100%">
  			<tr>
    			<td>Study 1</td>
    			<td><a href="/study_description">Example Study</a></td> 
  			</tr>
  			<tr>
    			<td>Study 2</td>
    			<td><a href="/study_description">Example Study</a></td> 
  			</tr>
		</table>
	  









	</body>

</html>