
%ul#login	
	- #render the login partial (chunk of html)
	%div.maincontent
		= p "Welcome to the University of Puget Sound"
		= p "Please login to access Subject Tool Manager"
	%li= link_to('Log in with Puget Sound account','/auth/shibboleth')