%div#login	
	%div#text
		%h1 Welcome! 
		%h2 Please login to access Subject Pool Manager
	%div#link= link_to('Log in with Puget Sound account','/auth/shibboleth')

-# = form_tag(test_login_path) do
-#   = label_tag(:user_id, "Login as user #:")
-#   = number_field_tag(:user_id, in: 1.0..10.0, step: 1.0)
-#   = submit_tag("Submit")