%div#login	
	%h1 Welcome to the
	%h1 University of Puget Sound 
	%h2 <small> Please log in to access Subject Pool Manager </small>
= link_to('Log in with Puget Sound account','/auth/shibboleth', :class => 'btn btn-xlarge btn-default center-block')

/ Created by Adam Myers, Schyler Evans, Sarah Wallis, Damon Williams, and Luke Jannsen
/ for Professor Joel Ross CS240 - Software Engineering : Fall 2014
