%div#login	
	%h1 Welcome to the
	%h1 University of Puget Sound 
	%h2 <small> Please log in to access Subject Pool Manager </small>
= button_to('Log in with Puget Sound account','/auth/shibboleth', :class => 'btn btn-default btn-xlarge center-block')
