
%ul#login	
	- #render the login partial (chunk of html)
	%div.maincontent
		%h1 Welcome to the 
		%h1 University of Puget Sound
		%br/
		%br/
		%h1 Please login to access Subject Tool Manager
		%br/
		%br/
		%br/
		%br/
		%br/
		%br/
	%dl= link_to('Log in with Puget Sound account','/auth/shibboleth')