-# Pages#login
-# Find me in app/views/page/login.html -->

%h2 Welcome

%button= link_to "Studies", studies_path

%button= link_to "Users", users_path

%button= link_to "Log in as Participant", studies_path(:email=>"bcarpenter@ups.edu", :password=>"chuck")

%button= link_to "Log in as Admin", users_path
