<!DOCTYPE html>
<html>
	<body>
		<h1>Studies</h1>
		<p>User will see list of studies here.</p>
		<p>For admins, participants, and researchers, all will be visable, but some options will be greyed out for some users.</p>

		<table style="width:100%">
  			<tr>
    			<td>Study 1</td>
    			<td><a href="/study_description">Example Study</a></td> 
  			</tr>
  			<tr>
    			<td>Study 2</td>
    			<td><a href="/study_description">Example Study</a></td> 
  			</tr>
		</table>
	</body>
</html>
