<!DOCTYPE html>
<html>
	<body>
		<h1>New Study</h1>
	 	<p>All of the fields needed for new study.</p></br>
	 	<form>
			Title: 			<input type="text" name="title"><br>
			Researchers:	<input type="text" name="researchers"> <br>
			Email:			<input type="text" name="email"> <br>
			Description: 	<input type="text" name="descrip"> <br>
			Length of Study:<input type="text" name="length"> <br>
			Maximum Participants: <input type="text" name="maxPart"> <br>
			Times:			<input type="text" name="times">
		</form>
		<p>etc.</p>
	</body>
</html>