<!DOCTYPE html>
<html>
	<body>
	 	<h1>Welcome</h1><br>
	 	<p>Start here.</p>
	  	<form name="welcome">
	  		<button onclick="window.location='/views/sign_in.html/';">Login</button></br>
			<button onclick="window.location='/views/new_account.html/?type=part';">Create Participant Account</button></br>
			<button onclick="window.location='/views/new_account.html/?type=research';">Create Researcher Account"</button></br>
			<button onclick="window.location='/views/new_account.html/?type=admin';">Create Administrator Account</button></br>
		</form>
		<script>
			var link
	</body>
</html>