// General color options - not necessarily used 
$red-velvet-cake: #BA0000;
$very-dark-red: #520000;
$tannish: #FFF2C9;
// Check app/assets/images for background image options
$page-background-image: image-url("escheresque-light.png");

// Nav bar variables
$nav-button-background: $tannish;
$nav-button-text-color: black;
$nav-button-border-color: $very-dark-red;



/*
#login {
  div#text {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -59px;
    margin-left: -224px;
  }

  h1 {
    color: $very-dark-red;
    text-align: center;
    font-size: 500px;
    font-weight: bold;
    font-family: Georgia, serif
  }
  h2 {
    text-align: center;
  }
  a {
    color: $nav-button-text-color;
    text-decoration: none;
    font-weight: bold;
    padding: 10;
    background: $nav-button-background;
    border: 3px solid $nav-button-border-color;
    border-radius: 16px;
  }

  :hover {
    background: $page-background-image repeat fixed;
    color: black;
  }
}*/