// Place all the styles related to the Study controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General color options - not necessarily used 
$red-velvet-cake: #BA0000;
$very-dark-red: #520000;
$tannish: #FFF2C9;
// Check app/assets/images for background image options
$page-background: white image-url("escheresque-light.png") repeat fixed;

// Colors for study-specific pages
$listitem-background: rgba(172,0,0,0.2);
$listitem-textcolor: black;
$full-background: DarkGray;
$full-color: black;
$full-border-color: black;
$joined-background: LightGreen;
$joined-color: black;
$joined-border-color: DarkGreen;

.button {
  margin: 10px;
  font-weight: bold;
  border: 3px solid $very-dark-red;
  border-radius: 10;
}

#studies {
	li {
		background: $listitem-background;
		border: 1px solid black;
    border-radius: 10px;
    color: $listitem-textcolor;
    overflow: auto;

    div#top {
      min-height: 50px;
    }
    div#right {
      // This a-link is the selection option
      a {
        padding: 17px 5px;
        margin-left: 5px;
        position: relative;
        top: 20px;
      }
    }
  }
}

#studyinfo {

  p#full, p#joined {
    display: inline;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
  }

  p#full {
    border: 3px solid $full-border-color;
    background: $full-background;
    color: $full-color;
  }

  p#joined {
    border: 3px solid $joined-border-color;
    background: $joined-background;
    color: $joined-color;
  }

  div#joinwrapper {
    padding: 10 5 15 5;
    height: auto;
  }
}

#new, #edit {
  h1, label{
    padding: 5px;
  }
  input, select, textarea {
    margin: 5px;
  }

  #save_changes {
    font-weight: bold;
    padding: 15px 40;
    border: 3px solid $very-dark-red;
    border-radius: 10;
  }
}