// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General color options - not necessarily used 
$red-velvet-cake: #BA0000;
$very-dark-red: #520000;
$tannish: #FFF2C9;
// Check app/assets/images for background image options
$page-background: white image-url("escheresque-light.png") repeat fixed;

// Specific option for pages
$listitem-background: rgba(172,0,0,0.2);
$listitem-textcolor: black;
$researcher-link-color: $very-dark-red;
$researcher-link-hover-color: $red-velvet-cake;
$selection-link-background: $page-background;
$selection-link-color: black;
$selection-link-hover-background: rgba(0,0,0,0.3);
$selection-link-hover-color: white;
$selection-link-border-color: $red-velvet-cake;

ul.maincontent {
	li {
		background: $listitem-background;
		border: 1px solid black;
      	border-radius: 10px;
      	color: $listitem-textcolor;
      	overflow: auto;

      	div#left {
     		// This a-link is the researcher names
     		a {
     			text-decoration: none;
     			color: $researcher-link-color;
                    margin-bottom: 5px;
     		}
     		:hover {
     			color: $researcher-link-hover-color;
     		}
     	}

     	div#right {
     		// This a-link is the selection option
     		a {
     			padding: 17px 5px;
                margin-left: 5px;
                position: relative;
                top: 20px;
     		}
     	}
        
        %vertical-align {
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .text p { 
            @extend %vertical-align;
        }
            	
	}
}

ul#mycreatedstudies, ul#users {
	div#top {
    	min-height: 50px;
	}
}

ul#studylist {
    li {
        padding: 5;
    }

    li#complete {
        color: green;
    }
    li#incomplete {
        color: black;
    }
} 

div#userinfo {
    div#wrapper {
        padding: 8px;
        margin: 5px;
        height: auto;

    }
}

#setup, #edit {
    h1 {
        margin: 10px;
    }

    label, input {
        margin: 5px;
    }
}

#addcourse {
    #wrapper {
        margin-left: 5;
    }
}