// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// General color options - not necessarily used 
$red-velvet-cake: #BA0000;
$very-dark-red: #520000;
$tannish: #FFF2C9;